--- 
layout: default 
---

<!DOCTYPE HTML>
<html>

<head>
  <title>Generations Paintball</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="left-sidebar">
  <div id="page-wrapper">

		<!-- Header -->
		{% include header.html %}

    <!-- Main Wrapper -->
    <div id="main-wrapper">

      <!-- Main -->
      <div id="main" class="container">
        <div class="row">
          <div id="sidebar" class="4u 12u(mobile)">
            <section>
              <h2>Get in touch!</h2>
              <ul class="style2">
                <li class="first">
                  <a href="https://www.facebook.com/generationspaintball" class="image left"><img src="images/facebook.png" alt=""></a>
                  <h3>Facebook</h3>
                  <p>Get the latest news and events from our facebook page.</p>
                </li>
              </ul>
            </section>
          </div>
          <div class="8u 12u(mobile) important(mobile)">
            <article id="content">
              <h2>Contact us</h2>
              <form action="http://formspree.io/davidmaxwell9@icloud.com" method="post">
                <div class="row uniform collapse-at-2">
                  <div class="6u">
                    <input type="text" name="Name" placeholder="Your name...">
                    <input type="text" name="Phone Number" placeholder="Your phone number...">
                    <input type="text" name="Email" placeholder="Your email...">
                  </div>
                </div>
                <div class="12u">
                  <textarea name="Message" placeholder="Message..." rows="4" cols="50" maxlength="500"></textarea>
                </div>
                <br>
                <div style="display:none">
                  <input type="hidden" name="_subject" value="New web message! (generationspaintball.com)">
                  <input type="hidden" name="_next" value="http://www.generationspaintball.com/thanks.html">
                  <input type="text" name="_gotcha">
                </div>
                <div class="row uniform">
                  <div class="12u">
                    <ul class="actions">
                      <li>
                        <input type="submit" class="special" value="Send">
                      </li>
                    </ul>
                  </div>
                </div>
              </form>
            </article>
          </div>
        </div>
      </div>

    </div>

    <!-- Footer Wrapper -->
    <div id="footer-wrapper">

      <!-- Footer -->
      {% include footer.html %}

    </div>

  </div>

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.dropotron.min.js"></script>
  <script src="assets/js/jquery.slidertron.min.js"></script>
  <script src="assets/js/skel.min.js"></script>
  <script src="assets/js/skel-viewport.min.js"></script>
  <script src="assets/js/util.js"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="assets/js/main.js"></script>

</body>

</html>