---
layout: default
---

<!DOCTYPE HTML>
<html>

<head>
	<title>Generations Paintball</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="left-sidebar">
	<div id="page-wrapper">

		<!-- Header -->
		{% include header.html %}

		<!-- Main Wrapper -->
		<div id="main-wrapper">

			<!-- Main -->
			<div id="main" class="container">
				<div class="row">
					<div id="sidebar" class="4u 12u(mobile)">
						<!-- Sidebar -->
						<section>
							<h2>Gear and Merchandise</h2>
							<ul class="style2">
								<li class="first">
									<a href="#" class="image left"><img src="images/markers3.png" alt=""></a>
									<h3>Markers</h3>
									<p>We have Tippmann, Spyder, and Azodin markers for sale.</p>
								</li>
								<li>
									<a href="#" class="image left"><img src="images/masks2.png" alt=""></a>
									<h3>Other Gear</h3>
									<p>We sell all types of gear: tanks, hoppers, barrel swabs and socks.</p>
								</li>
							</ul>
						</section>
					</div>
					<!-- Main -->
					<div class="8u 12u(mobile) important(mobile)">
						<article id="content">
							<h2>Rates and Prices</h2>
							<p class="subtitle">Walk on rate - $30</p>
							<p>Basic rental, includes: semi-auto marker, mask, free air, and all day play.</p>
							<br />
							<p class="subtitle">Paintballs</p>
							<p>We sell Valken field grade paintballs. <br />
								500 rounds - $20 <br />
								1,000 rounds - $35 <br />
								2,000 rounds - $50 <br />
								* Outside paintballs are not allowed at this field, unless previously purchesed at Generations Paintball.
							</p>
							<br />
							<p class="subtitle" id="groups">Groups</p>
							<p>Minimum party of 10 - $33 per player* <br />
								Perfect for birthdays, parties, family events, and fun. <br />
								Includes: semi-auto marker, mask, free air, all day play, and 500 paintballs per player. <br />
								* Must be booked 48 hours in advance to recieve group rate, and requires a $50 non-refundable deposit.
							</p>
						</article>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer Wrapper -->
		<div id="footer-wrapper">

			<!-- Footer -->
			{% include footer.html %}

		</div>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/jquery.slidertron.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/skel-viewport.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>

</body>

</html>
