--- 
layout: default 
---

<!DOCTYPE HTML>
<html>

<head>
	<title>Generations Paintball</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="no-sidebar">
	<div id="page-wrapper">

		<!-- Header -->
		{% include header.html %}

		<!-- Main Wrapper -->
		<div id="main-wrapper">

			<!-- Main -->
			<div id="main" class="container">
				<div class="row">
					<div class="12u">
						<article id="content">
							<h2>Thank you!</h2>
							<p class="subtitle">Your message has been recieved, and we can usually get back to you within 1-2 business days.</p>
						</article>
					</div>
				</div>
			</div>

		</div>

		<!-- Footer Wrapper -->
		<div id="footer-wrapper">

			<!-- Footer -->
      {% include footer.html %}

		</div>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/jquery.slidertron.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/skel-viewport.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>

</body>

</html>