<div id="header-wrapper">
	<div class="container">

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="index.html">Homepage</a></li>
				<li>
					<a href="info.html">Information</a>
					<ul>
						<li><a href="info.html#general">General Information</a></li>
						<li><a href="info.html#games">Game Types</a></li>
					</ul>
				</li>
				<li><a href="waiver.html">Safety Waiver</a></li>
				<li><a href="rates.html">Rates and Prices</a></li>
				<li><a href="contact.html">Contact Us</a></li>
			</ul>
		</nav>

		<!-- Header -->
		<br />
		<div class="row">
			<div class="3u 6u(mobile)">
				<header id="info">
					<h3 style="color:#FFFFFF;">
						Hours of operation:
					</h3>
					<p style="color:#FFFFFF;">
						Saturday: 9am - 9pm<br /> Sunday: 9am - 5pm
					</p>
				</header>
			</div>
			<div class="6u 12u(mobile)">
				<header id="header">
					<h1><a>Generations Paintball</a></h1>
				</header>
			</div>
		</div>
	</div>
</div>